<section class="recover-password">
  {{#fm-form action='save'}}
    <h1>Recover Your Password.</h1>
    <p>Enter your email below and we'll email you a link to reset it.</p>
    {{#if controller.checkEmail}}
      <p class="success">We have emailed you.  Check your email.</p>
    {{else}}
      {{fm-field
        type='text'
        value=model.email
        errors=model.errors.email
        label="Email Address"
      }}

      {{fm-submit value="Reset My Password"}}
    {{/if}}
  {{/fm-form}}

</section>
