<section class="reset-password">
  {{#fm-form action='save'}}
    <h1>Change your password</h1>
    <p>Use the form below to update your password.</p>
    {{#if controller.hasKeyError}}
      <p class="error">{{controller.keyError.message}}</p>
    {{/if}}

    {{fm-field
      type='password'
      value=model.password
      label="New Password"
      errors=model.errors.password
    }}

    {{fm-field
      type='password'
      value=model.passwordConfirmation
      label="New Password Confirmation"
      errors=model.errors.passwordConfirmation
    }}

    {{fm-submit value="Update"}}
  {{/fm-form}}
</section>
